/*------------------------------------------------------------------
Main Style Stylesheet
	Template:		Hexa - Minimal HTML5 Portfolio
	Author:			ThemesSoft
	Last change:	10/06/2017
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
body
 + WRAP
 + HEADER
 + NAVIGATION
 + SERVICES
 + ABOUT US
 + TESTIMONIALS
 + BLOG UPDATES
 + NEWS FROM BLOG
 + PARTNERS / CLIENTS
 + FOOTER
 + SOCIAL ICONS
 + LEFT MENU
-------------------------------------------------------------------*/
/*=======================================================
			THEME STYLING START
========================================================*/
* {
	margin: 0px;
	padding: 0px;
}
body {
	background: #FFF;
	font-weight: normal;
	position: relative;
	font-size: 14px;
	color: #333333;
	letter-spacing: 1px;
	font-family: 'Lato';
}
/*=======================================================
			WRAPPER
========================================================*/
#wrap {
	position: relative;
	width: 100%;
}
/*=======================================================
			HEADINGS
========================================================*/
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #333333;
	font-family: 'Montserrat';
}
h1 {
	font-size: 65px;
}
h2 {
	font-size: 45px;
	font-weight: bold;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 14px;
	font-weight: bold;
}
h6 {
	font-size: 12px;
	font-weight: bold;
}
p {
	color: #999999;
	font-size: 14px;
	line-height: 24px;
	font-weight:300
}
a {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	text-decoration: none !important;
}
img {
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	display: inline-block !important;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #333333;
	letter-spacing: 2px;
}
/*=======================================================
			SECTION
========================================================*/
section {
	position: relative;
	overflow: hidden;
	width: 100%;
}
/*=======================================================
			BUTTON
========================================================*/
.btn {
	background: #333333;
	color: #fff;
	border: 2px solid #333333;
	border-radius: 0px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 12px 30px;
	margin-top: 15px;
	font-family: 'Montserrat';
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.btn:hover {
	background: none;
	color: #333333;
	border-color: #333333;
}
.btn-1 {
	background: none;
	color: #333333;
}
.btn-1:hover {
	background: #333333;
	color: #fff;
}
.form-control {
	box-shadow: none;
	border: 1px solid #f7f7f7;
	border-radius: 0px;
	height: 40px;
}
.form-control:focus {
	border: none;
	box-shadow: none;
}
.highlight {
	background: #fff !important;
	border-bottom: 1px solid red !important;
	border-left: 1px solid red !important;
}
.btn.focus, .btn:focus, .btn:hover {
}
/*=======================================================
			MARGIN 20px
========================================================*/
.margin-r-20 {
	margin-right: 20px;
}
.margin-l-20 {
	margin-left: 20px;
}
.margin-t-20 {
	margin-top: 20px;
}
.margin-t-30 {
	margin-top: 30px;
}
.margin-b-20 {
	margin-bottom: 20px;
}
/*=======================================================
			MARGIN 40px
========================================================*/
.margin-r-40 {
	margin-right: 40px;
}
.margin-l-40 {
	margin-left: 40px;
}
.margin-t-40 {
	margin-top: 40px;
}
.margin-b-40 {
	margin-bottom: 40px;
}
/*=======================================================
			MARGIN 80px
========================================================*/
.margin-r-80 {
	margin-right: 80px;
}
.margin-l-80 {
	margin-left: 80px;
}
.margin-t-80 {
	margin-top: 80px;
}
.margin-b-80 {
	margin-bottom: 80px;
}
/*=======================================================
			PADDING
========================================================*/
.padding-r-20 {
	padding-right: 20px !important;
}
.padding-r-80 {
	padding-right: 80px !important;
}
.padding-l-20 {
	padding-left: 20px;
}
.padding-t-20 {
	padding-top: 20px;
}
.padding-t-50 {
	padding-top: 50px;
}
.padding-b-20 {
	padding-bottom: 20px;
}
.padding-b-50 {
	padding-bottom: 50px;
}
.no-margin {
	margin: 0px !important;
}
.no-padding {
	padding: 0px !important;
}
.no-margin-t {
	margin-top: 0px !important;
}
.no-padding-t {
	padding-top: 0px !important;
}
.padding-l-60 {
	padding-left: 60px;
}
/*=======================================================
			TITTLE
========================================================*/
.tittle {
	text-align: left;
	width: 100%;
	display: inline-block;
	position: relative;
	margin-top: 0px;
	margin-bottom: 30px;
}
hr {
	background: #fee22d;
	height: 3px;
	width: 28px;
	margin: 10px auto;
	margin-bottom: 20px;
	border: none;
}
/*=======================================================
			HEADER
========================================================*/
header {
	width: 80px;
	position: relative;
	z-index: 9999;
}
header .logo {
	display: inline-block;
	width: 100%;
	margin-top: 80px;
}
header .logo span {
    display: inline-block;
    width: 100%;
    letter-spacing: 2px;
    margin: 0px;
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    font-size: 18px;
    font-family: 'Montserrat';
    color: #fff;
    text-transform: uppercase;
}
header nav {
	position: fixed;
	left: 0px;
	height: 100%;
	width: 80px;
	z-index: 9999999;
	text-align: center;
	background: #fee22d;
	padding-top:20%;
	border-right:4px #fff solid;


}
header nav i {
	font-size: 16px!important;
	color: #000;
	line-height:32px!important
}
header .open-navigation {
	position: absolute;
	width: 0px;
	left: 80px;
	background:#393f4d;
	height: 100%;
	top: 0px;
	z-index: -99;
	opacity: 0;
	transition: all 0.4s ease-in-out;
}
header .open-navigation .navi-in {
	display: none;
	transition: all 0s ease-in-out;
}
.navgation {
	text-align: center;
}
.navgation a {
	display: inline-block;
	width: 100%;
	float: left;
}
.navgation {
	display: inline-block;
	width: 100%;
	margin-bottom: 0px;
}
header .open-navigation .navi-in {
	display: none;
	position: absolute;
	height: 100%;
}
.navgation:hover .open-navigation {
	opacity: 1;
	width: 250px;
}
.navgation:hover .navi-in {
	display: block;
}
header .share {
	position: relative;
}
header .nav-links {
	display: inline-block;
	width: 100%;
	margin-top: 60%;
	margin-bottom: 90%;
}
header .nav-links li {
	display: inline-block;
	width: 100%;
	padding: 10px 0;
}
header .nav-links li a {
	display: inline-block;
	width: 100%;
	font-weight: 100;
	letter-spacing: 2px;
	color: #99a2b5;
	font-family: 'Montserrat';
	font-size: 12px;
}
header .nav-links li a:hover {
	color: #fee22d;
}
header .nav-links li.active a {
	color: #fff;
}
header .ads {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-transform: uppercase;
	font-size: 12px;
	padding: 0 30px;
	color:#7c879d;
	font-weight:normal
}
header .social_icons {
	display: inline-block;
	width: 100%;
}
header .social_icons a {
	border-radius: 0px;
	border-color: #99a2b5;
}
header .social_icons a i {
	color: #99a2b5;
}
header .share .open-navigation {
	height: 60px;
	padding-top: 10px;
	padding-left: 10px;
	margin-top: -10px;
}


.well {border:none; border-radius:0; background:none; box-shadow:none}

.search input {
	border: none;
	width: 100%;
	display: inline-block;
	background: none;
	border-bottom: 1px solid #d1d1d1;
	text-align: left;
	color: #333333;
	font-size: 30px;
}
.search input:focus {
	border: none !important;
	outline: none;
	border-bottom: 1px solid #333 !important;
}

/*==========  Home Intro  ==========*/

.home-intro {overflow:hidden; padding-top:60px; padding-bottom:60px; background:url(../images/home-intro.jpg) no-repeat top left; border-bottom:4px #fff solid; text-align:center}
.home-intro h2 {
    transition: none;
    text-align: center;
    line-height: 22px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 12px;
    font-family: Montserrat;
    color: #fff;
    text-transform: none;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.home-intro p {color: #ccc;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
	text-align:center;
	display:block;
	padding:0px 240px;
	letter-spacing:0.5px;}

.home-intro h1 {
    color: #fff;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 52px;
    margin: 0px;
    margin-bottom: 15px;
    position: relative;
    display: block;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;

}

.home-intro a {
    display: inline-block;
    margin: auto;
    border: 2px solid rgba(255,255,255,0.4);
    border-radius: 3px;
    padding: 13px 25px;
    line-height: 1.4;
    transition: border-color 0.3s ease;
    color:rgba(255,255,255,0.6);
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 13px;
    margin-top: 30px;

}

.inside-header {background:url(../images/about-img.jpg) no-repeat top left; padding-top:150px; padding-bottom:40px; color:#fff;  font-family: 'Montserrat', sans-serif; font-size:16px; text-transform:uppercase; letter-spacing:2px; font-weight:600; padding-left: 80px;}

.desc {
    color: #999999;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-weight: 300;
	margin-bottom:20px;
}

/*==========  Search  ==========*/
.search-overlay {
	background: #7c4dff;
	background: rgba(241,241,241,0.95);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	-ms-transition: .5s;
	transition: .5s;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;
	border-radius: 100%;
}
.search-overlay.scale {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.search {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	display: none;
	color: #fff;
	text-align: center;
	padding: 0 12px;
	padding-top: 20%;
	font-size: 24px;
}
.search.open {
	display: block;
}
.search button {
	border: none;
	float: right;
	background: none;
	color: #333;
	font-size: 20px;
	margin-top: -40px;
	position: relative;
	z-index: 99;
}
.search-close {
	position: absolute;
	right: 48px;
	top: 48px;
	z-index: 999;
	font-size: 22px;
	color: #332;
}
.search-close:hover {
	opacity: .75;
}
/*=======================================================
			CONTENT
========================================================*/
.content {
	background: #ffffff;
	padding-top: 40px;
	padding-left: 80px;
}
/*=======================================================
			PORTFOLIO
========================================================*/
.portfolio {
	position: relative;
	padding-left: 80px;
	display:inline-block;
	width:100%;
	overflow:hidden;
	min-height: 850px;
}
.portfolio ul{ margin-bottom:0px;

}
.portfolio li {
	position: relative;
	overflow: hidden;
}
.portfolio li img {
	width: 100%;
}
.portfolio li .hover-sec {
	border: 12px solid;
	border-color: transparent;
	position: absolute;
	top: 5%;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	overflow: hidden;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.portfolio .hover-sec a.hover-in {
	position: absolute;
	background: rgba(57,63,77,0.85);
	height: 100%;
	width: 100%;
	text-align: center;
	padding-top: 30%;
}
.portfolio .hover-sec .name {
	font-family: 'Montserrat';
	font-size: 15px;
	color: #fff;
}
.portfolio .cat {
	color:#99a2b5;
	text-transform:uppercase
}
.portfolio li:hover .hover-sec {
	opacity: 1;
	top: 0px;
}
.portfolio-single {
	background: #f7f8f9;
	padding-top:50px;
	padding-bottom:60px;
}
.portfolio-single ul {
	background: #fff;
	margin-bottom: 80px;
	display: inline-block;
	width: 100%;
}
.portfolio-single .project-info {
	padding: 30px;
	padding-top: 50px;
}
.portfolio-single .project-info p {
	margin-bottom: 20px;
	font-size:15px;
}
.portfolio-single .project-info h5 {
	font-weight: 600;
	margin-bottom: 20px;
}
.portfolio-single .project-info strong {
	font-weight: normal;
	font-family: 'Montserrat';
	text-transform: uppercase;
	font-size:11px;
}
.portfolio-single .project-info .btn {
	margin-top: 20px;
}
.portfolio-single .port-top-sec {
	background: #fff;
	height: 90px;
	display: inline-block;
	width: 100%;
	margin-bottom: 80px;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.portfolio-single .port-top-sec a {
	font-size: 40px;
	color: #6e6e6e;
	padding-right: 30px;
	float: left;
	opacity: 0.5;
	margin-top: 15px;
}
.portfolio-single .port-top-sec a.next {
	border-left: 1px solid #777777;
	padding-right: 0px;
	padding-left: 30px;
}
.portfolio-single .port-top-sec a:hover {
	opacity: 1;
}
.portfolio-single .port-top-sec a.close {
	padding-right: 0px;
	padding-left: 0px;
	margin-top: 0px;
	line-height: 90px;
}
/*=======================================================
			WHO WE ARE
========================================================*/
.who-we ul {
	display: inline-block;
	width: 100%;
	background: #f4f4f4;
	margin-bottom: 0px;
}
.who-we ul {
	text-align: center;
}
.who-we ul li {
	position: relative;
}
.who-we .wo-we {
	padding: 0px;
	background: #f1f1f1;
}

.who-we .wo-we .owl-controls {position:absolute; left:50%; bottom:20px}

.who-we .wo-we i {
	font-size: 40px;
	margin-bottom: 10px;
	display: inline-block;
}
.who-we .owl-dot {
	display: inline-block;
	margin: 0 5px;
}
.who-we .owl-dot span {
	height: 7px;
	width: 7px;
	background: #e5e5e5;
	display: inline-block;
}
.who-we hr {
	background: #c7c7c7;
	height: 3px;
	width: 28px;
	margin: 10px auto;
	margin-bottom: 20px;
	border: none;
}
.who-we .owl-dot.active span {
	background: #000000;
}
/*=======================================================
			SERVICES
========================================================*/
.services {
	padding:30px 0;
}
.services li {
	margin-bottom: 30px;
}
.services .sec i {
	font-size: 34px;
	color: #c0c0c0;
	letter-spacing: 3px;
	padding-bottom:10px
}
.services .sec {
	background: #f1f1f1;
	padding: 80px 0;
	text-align: center;
	position: relative;
	overflow: hidden;
}
.services .sec h6 {
	font-weight: normal;
}
.services .ser-over a {
	font-weight: bold;
	font-size: 10px;
	margin-top: 10px;
}
.services .ser-over h6 {
	margin: 20px 0;
	margin-top: 30px;
	font-weight:600
}
.services .ser-over {
	background: #fee22d;
	position: absolute;
	left: 100%;
	padding: 40px 20px;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 99;
	border-bottom: 1px solid #000000;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.services .ser-over p {font-weight:300; color:#333; letter-spacing:0.5px; line-height:19px;}

.services .sec:hover .ser-over {
	left: 0px;
}
/*=======================================================
			PRICING & PLANS
========================================================*/
.pricing {
	padding: 80px 0;
}
.pricing .price {
	border: 1px solid #ececec;
	padding-top: 40px;
	text-align: center;
}
.pricing .price h5 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: normal;
}
.pricing .price span.sub-line {
	display: inline-block;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	color: #999999;
	font-size: 12px;
}
.pricing .price .icon {
	border: 1px solid #333333;
	text-align: center;
	line-height: 88px;
	height: 90px;
	width: 90px;
	color: #333333;
	font-size: 50px;
	display: inline-block;
	margin-top: 20px;
}
.pricing .price ul {
	padding: 30px 60px;
}
.pricing .price ul li {
	padding: 15px 0;
	font-size: 11px;
	border-bottom: 1px solid #ededed;
	color: #999999;
	margin: 0px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.pricing .price ul li:nth-last-child(1) {
	border-bottom: none;
}
.pricing .price .order-info {
	padding: 20px 0;
	display: inline-block;
	width: 100%;
	margin-bottom: -5px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.pricing .price .order-info p {
	font-weight: 400;
	color: #333333;
	font-size: 30px;
	margin-bottom: 0px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.pricing .price .order-info a {
	text-transform: uppercase;
	font-family: 'Montserrat';
	padding: 15px 0;
	border-left: 1px solid #e5e5e5;
	display: inline-block;
	width: 100%;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.pricing .price .order-info a i {
	height: 20px;
	width: 20px;
	display: inline-block;
	border: 1px solid #333333;
	border-radius: 50%;
	text-align: center;
	line-height: 18px;
	padding-left: 5px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.pricing .price .order-info p span {
	font-size: 18px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.pricing li:hover .order-info {
	background: #333333;
}
.pricing li:hover .order-info a {
	color: #fff;
}
.pricing li:hover .order-info a i {
	border-color: #fff;
}
.pricing li:hover .order-info p {
	color: #fff;
}
.pricing li:hover .order-info span {
	color: #fff;
}
.pricing li.feature .order-info {
	background: #333333;
}
.pricing li.feature .order-info a {
	color: #fff;
}
.pricing li.feature .order-info a i {
	border-color: #fff;
}
.pricing li.feature .order-info p {
	color: #fff;
}
.pricing li.feature .order-info span {
	color: #fff;
}
/*=======================================================
			SKILLS
========================================================*/
.skills {
	margin: 30px;
	position: relative;
	overflow: hidden;
	margin-bottom: 0px;
	margin-top: 50px;
}
.skills .progress-bars p {
	margin: 0px;
	font-size: 12px;
	color: #333333;
	text-align: left;
	font-weight: bold;
	margin-bottom: 10px;
}
.skills .progress-bar {
	border-radius: 0px;
	background: #333333;
	height: 4px;
}
.skills .progress-bar span {
	display: inline-block;
	float: right;
	text-align: center;
	padding: 0px;
	color: #8e0c34;
	margin-top: -32px;
	font-size: 10px;
	font-family: 'Montserrat';
}
.skills .progress-bar h6 {
	float: left;
	padding-left: 20px;
	margin: 0px;
	font-weight: bold;
	line-height: 42px;
}
.skills .progress {
	border-radius: 0px;
	position: relative;
	background: #ffffff;
	box-shadow: none;
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
	overflow: inherit;
	height: 4px;
}
.skills .progress-bars {
	display: inline-block;
	width: 100%;
}
/*=======================================================
			COUNTER
========================================================*/
#counters {
	margin-top: -5px;
}
#counters ul {
	margin-bottom: 0px;
	display: inline-block;
	width: 100%;
	background: #262626;
}
#counters li {
	text-align: center;
	padding: 60px 0;
}
#counters li:nth-child(1) {
	background: #f0d315;
}
#counters li:nth-child(2) {
	background: #fee22d;
}
#counters li:nth-child(3) {
	background: #f0d315;
}
#counters li:nth-child(4) {
	background: #fee22d;
}
#counters i {
	font-size: 32px;
	color: #333;
	margin-bottom:10px
}
#counters span {
	color: #333;
	display: inline-block;
	width: 100%;
	font-size: 30px;
	font-weight: 300;
}
#counters h6 {
	color: #333;
	font-weight: bold;
	text-transform: uppercase;
}
/*=======================================================
			PORTFOLIO
========================================================*/
.team {
	padding: 80px 0;
	padding-bottom: 0px;
}
.team .team-member {
	position: relative;
	overflow: hidden;
}
.team .team-over {
	position: absolute;
	background: #f1f1f1;
	width: 80%;
	height: 100%;
	top: 0px;
	right: -80%;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	padding: 0 30px;
	padding-top: 20%;
}
.team li span {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
}
.team li p {
	font-size: 12px;
	color: #999999;
	line-height: 20px;
}
.team li img {
	position: relative;
	right: 0px;
	z-index: 9;
}
.team li:hover img {
	right: 80%;
}
.team li:hover .team-over {
	right: 0px;
}
/*=======================================================
			TESTIMONIAL
========================================================*/
.testimonial {
	padding: 80px 0;
	padding-bottom: 0px;
}
.testimonial .testi {
	background: #393f4d;
	padding: 80px 100px;
	text-align: center;
	background-size: cover;
}
.testimonial .testi p {
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	line-height: 28px;
}


.testimonial .testimonial-author {
    display: block;
    text-align: center;
    overflow: hidden;
	margin-bottom:25px;
}

.testimonial .testimonial-author .featured-thumbnail {
    display: inline-block;
    float: none;
    border: none;
    width: 100px!important;
    height: 100px!important;
}

.testimonial .testimonial-author .featured-thumbnail img {
    -webkit-border-radius: 100% 100% 100% 100%;
    -moz-border-radius: 100% 100% 100% 100%;
    border-radius: 100% 100% 100% 100%;
		width: 100px !Important;
		min-height: 100px !Important;
}

.quote {
    background: #fee22d;
    position: absolute;
    color: #333;
    font-size: 40px;
    display: block;
    left: 50%;
    width: 40px;
    height: 40px;
    padding-top: 0px;
    border-radius: 999px;
    text-align: center;
    margin-top: -45px;
    margin-left: 20px;
    line-height: 40px;
}

.quote:before {
    font-size: 16px;
    font-family: FontAwesome;
    font-weight: 400;
    content: '\f10d';
    vertical-align: top;
}

.testimonial .testi h6 {
	color: #fff;
	margin-top: 30px;
	text-transform:uppercase
}
.testimonial .testi p span {
	font-size: 26px;
}
.testimonial .owl-nav {
	margin-top: 30px;
	font-size: 30px;
}
.testimonial .owl-nav div {
	display: inline-block;
	padding: 0 20px;
}
.testimonial .owl-nav {
	color: #fff;
}
.testimonial .owl-nav .owl-prev {
	display: inline-block !important;
	border-right: 1px solid #99a2b5;
}
.testimonial .owl-nav .owl-next {
	display: inline-block !important;
}
/*=======================================================
			CLIENTS
========================================================*/
.clients {
	padding: 80px 0;
	text-align: center;
}
.clients li {
	display: inline-block;
	padding: 0 10px;
	width: 20%;
	float: left;
}
.clients li a {
	opacity: 0.5;
}
.clients li a:hover {
	opacity: 1;
}
/*=======================================================
			BLOG
========================================================*/
.blog article {
	padding-top: 0px;
	position: relative;
	z-index: 11;
	margin-bottom: 60px;
}
.blog article:before {
	content: "";
	background: #fff;
	position: absolute;
	z-index: 1;
	height: 40px;
	width: 100%;
	top: 0px;
	left: 0px;
}
.blog article img {
	position: relative;
	z-index: 99;
}
.blog-info {
    padding: 10px 0px;
    position: relative;
    z-index: 99;
    padding-top: 20px
}
.blog-info .btn-1 {
	border: 1px solid #333333;
	font-weight: normal;
}
.post-tittle {
	display: inline-block;
	width: 100%;
	margin-bottom: 30px;
}
.post-tittle a {
	font-family: 'Montserrat';
	margin-top: 0px;
	font-weight:600
}
.post-tittle ul li {
	display: inline-block;
	font-size: 11px;
	margin-top: 10px;
	margin-right: 30px;
}
.date-post {
	height: 60px;
	width: 60px;
	float: left;
	background: #fee22d;
	text-align: center;
	padding-top: 10px;
	color: #333;
	font-weight: 300;
	font-family: 'Montserrat';
	font-size: 11px;
	margin-right: 30px;
}
.date-post h4 {
	margin: 0px;
	font-weight: 300;
	color: #333;
	text-align: center;
	font-size: 22px;
}
.simple-post .blog-info {
	background: #fff;
	border: 1px solid #ececec;
	padding: 40px;
}
.single-post blockquote {
	font-size: 14px;
	font-style: italic;
	border: none;
	margin-left: 50px;
	background: #f3f3f3;
	padding: 40px;
	color: #999999;
	line-height: 26px;
}
.single-post .social_icons {
	display: inline-block;
	width: 100%;
	border-top: 1px solid #f0f0f0;
	margin-top: 15px;
	padding-top: 30px;
	text-align: center;
}
.single-post .social_icons li {
	display: inline-block;
	float: none;
}
.single-post .social_icons a {
	border-radius: 0px;
	border: 1px solid #e5e5e5;
}
.comments .media-left .media-object {
	border: 1px solid #e9e9e9;
	margin-right: 20px;
	border-radius: 50%;
}
.comments .media-body {
	padding: 15px 15px;
	padding-top: 0px;
	border-bottom: 1px solid #f5f5f5;
}
.comments .media-body h4 span {
	font-size: 12px;
	color: #777777;
	margin-left: 20px;
}
.comments .media-body a {
	float: right;
	margin-top: -23px;
}
.comments {
	margin-top: 30px;
}
.comments .media-list {
	margin-bottom: 30px;
}
.comments .media-list li {
	padding: 20px 0;
}
.comments .media-left {
	margin-right: 20px;
}
.comments .media-left a {
	width: 100px;
	display: inline-block;
}
.comments .media p {
	margin-top: 15px;
	font-size: 13px;
}
.comments .media h6 span {
	font-size: 11px;
	color: #777777;
	display: inline-block;
	margin: 0;
	text-transform: uppercase;
	font-weight: normal;
	margin-left: 20px;
	margin-top: 10px;
}
.comments .media {
	margin-top: 30px;
}
.comments .media h6 {
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
}
.comments .media a {
	font-size: 11px;
	font-weight: normal;
	text-align: center;
	color: #9c9c9c;
	text-transform: uppercase;
}
.comments .media a img {
	margin-bottom: 10px;
}
.comments form label {
	text-transform: uppercase;
	font-weight: normal;
	margin-top: 20px;
	display: inline-block;
	width: 100%;
	font-size: 12px;
}
.comments form .form-control {
	display: inline-block;
	width: 100%;
	height: 40px;
	margin-top: 5px;
	border-radius: 0px;
	box-shadow: none;
	background: none;
	border: none;
	border-bottom: 1px solid #ececec;
}
.comments form textarea.form-control {
	display: inline-block;
	width: 100%;
	height: 100px;
}
.comments form .form-control:focus {
	border-bottom: 1px solid #333;
}
.comments form .btn {
	border: none;
	float: right;
	width: 150px;
	background: none;
	color: #333333;
	font-weight: normal;
	padding: 0px;
	margin-top: -50px;
	position: relative;
	z-index: 2;
}
.comments {
	margin-bottom: 50px;
}
/*=======================================================
			CONTACT
========================================================*/
#map {
	height: 440px;
	margin-bottom: 0px;
}
.contact-info {
	background: #fee22d;
}
.contact-info li {
	padding: 20px 40px;
}
.contact-info li h5 {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: normal;
	margin-bottom: 5px;
}
.contact-info li i {
	font-size: 40px;
	float: left;
	margin-right: 20px;
}
.contact-info li p {
	font-size: 10px;
	color: #999999;
	text-transform: uppercase;
}
/*=======================================================
			CONTACT FORM
========================================================*/
.contact #contact_form {
	text-align: center;
}
.contact .error {
	border: none;
	border-bottom: 1px solid red;
	border-left: 1px solid red;
}
.success-msg {
	background: #fff;
	border: 1px solid #ABD0A8;
	color: #589051;
	margin-bottom: 30px;
	width: 100%;
	display: inline-block;
	text-align: center;
	padding: 11px 16px;
	border-radius: 4px;
	display: none;
}
.success-msg i {
	padding: 10px;
	border-radius: 50%;
	border: 1px solid #ABD0A8;
	margin-right: 10px;
}
#contact_form li {
	text-align: left;
	margin-bottom: 20px;
}
#contact_form li input {
	display: inline-block;
	width: 100%;
	height: 40px;
	padding: 0 10px;
}
#contact_form li .form-control {
	height: 40px;
	border: none;
	box-shadow: none;
	border-radius: 0px;
	background: #fff;
	border: 1px solid #e5e5e5;
	margin-top:8px;
}
#contact_form li textarea {
	height: 140px !important;
}
#contact_form .form-control:focus {
	border: 1px solid #333;
}
#contact_form li .btn {
	text-transform: uppercase;
}
.contact-form .tittle {
	text-align: center;
}
.contact-form .tittle hr {
	width: 28px;
	height: 5px;
	margin: 15px auto;
	background: #448aff;
	border: none;
}
.contact-form .tittle p {
	text-transform: none;
	font-size: 16px;
}
.contact-form label {
	font-weight: normal;
	color: #696969;
	font-size: 11px;
	text-transform: uppercase;
	display: inline-block;
	width: 100%;
	margin: 0px;
	line-height: 10px;
}
.contact-form textarea {
	display: inline-block;
	width: 100%;
	position: relative;
	padding: 10px 20px;
}
.contact-form h4 {
	text-transform: uppercase;
	margin-bottom: 30px;
}
.contact-form {

}
.contact-form .btn {
	border: none;
	float: right;
	width: 150px;
	color: #333333;
	font-weight: normal;
	margin-top: -66px;
	position: relative;
	z-index: 2;
}
.contact-form .btn:hover {
	color: #fff;
}
/*=======================================================
			SIDE BAR
========================================================*/
.side-bar h5 {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 16px;
}
.side-bar hr {
	border: none;
	height: 1px;
	display: inline-block;
	width: 100%;
	background: none;
	margin: 0px auto;
}
/*=======================================================
			CATEGORIES
========================================================*/
.cate li {
	border-bottom: 1px solid #eeeeee;
	padding-bottom : 15px;
	margin-bottom: 15px;
}
.cate li a {
	display: inline-block;
	width: 90%;
	color: #777;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing:1px;
}
.cate li a span {
	float: right;
}
.cate li a:hover {
	color: #222222;
}
/*=======================================================
			PAPULAR POST
========================================================*/
.papu-post {
}
.papu-post .media-left {
	width: 80px;
	margin-right: 0px;
}
.papu-post .media-left img {
	width: 100%;
	height: auto;
}
.papu-post .media-left a {
	width: 70px;
	margin-right: 10px;
	display: inline-block;
}
.papu-post span {
	color: #999999;
	letter-spacing: 0px;
	font-size: 11px;
}
.papu-post li {
	border-bottom: 1px solid #ececec;
	padding: 15px 0;
	margin: 0px;
}
.papu-post .media-heading {
    display: inline-block;
    width: 100%;
    color: #222222;
    margin-top: 0px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    line-height: 17px;
}
.tags li {
	display: inline-block;
}
.tags li a {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 0px;
	padding: 8px 15px;
	float: left;
	background: #f8f8f8;
}
.tags li a:hover {
	background: #444444;
	color: #fff;
}
/*=======================================================
			RIGHTS
========================================================*/
.rights {
	border-top: 1px solid #ececec;
	padding-top: 20px;
	text-align: center;
	padding-bottom: 20px;
}
.rights p {
	text-transform: uppercase;
	color: #999999;
	font-size: 12px;
	margin: 0px;
}
/*=======================================================
			SOCIAL ICONS
========================================================*/
.social_icons {
	position: relative;
	z-index: 1;
}
.social_icons ul {
	margin: 0;
	padding: 0;
	text-align: center;
}
.social_icons li {
	display: inline-block;
	list-style: none;
	float: left;
}
.social_icons a {
	display: block;
	width: 40px;
	height: 40px;
	margin: 0px;
	font-size: 14px;
	line-height: 40px;
	text-decoration: none;
	border-radius: 50%;
	text-align: center;
	color: #696969;
	border: 1px solid #f5f5f5;
	margin-right: 5px;
}
.social_icons a i {
	line-height: 40px !Important;
}
.social_icons a:hover i {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-transition: 0.4s ease-in-out;
	color: #fff;
}
.social_icons .behance a:hover {
	color: #fff;
	background-color: #2b9ad2;
	border-color: #2b9ad2;
}
.social_icons .blogger a:hover {
	color: #fff;
	background-color: #ff6500;
	border-color: #ff6500;
}
.social_icons .deviantart a:hover {
	color: #fff;
	background-color: #536659;
	border-color: #536659;
}
.social_icons .dribbble a:hover {
	color: #fff;
	background-color: #f973a4;
	border-color: #f973a4;
}
.social_icons .facebook a:hover {
	color: #fff;
	background-color: #3b5a9b;
	border-color: #3b5a9b;
}
.social_icons .flickr a:hover {
	color: #fff;
	background-color: #ff0084;
	border-color: #ff0084;
}
.social_icons .forrst a:hover {
	color: #fff;
	background-color: #2f713d;
	border-color: #2f713d;
}
.social_icons .googleplus a:hover {
	color: #fff;
	background-color: #f63d26;
	border-color: #f63d26;
}
.social_icons .instagram a:hover {
	color: #fff;
	background-color: #507ea4;
	border-color: #507ea4;
}
.social_icons .lastfm a:hover {
	color: #fff;
	background-color: #da0019;
	border-color: #da0019;
}
.social_icons .linkedin a:hover {
	color: #fff;
	background-color: #0072b2;
	border-color: #0072b2;
}
.social_icons .paypal a:hover {
	color: #fff;
	background-color: #165c82;
	border-color: #165c82;
}
.social_icons .picasa a:hover {
	color: #fff;
	background-color: #cb2027;
	border-color: #cb2027;
}
.social_icons .pinterest a:hover {
	color: #fff;
	background-color: #cb2027;
	border-color: #cb2027;
}
.social_icons .skype a:hover {
	color: #fff;
	background-color: #00aaf1;
	border-color: #00aaf1;
}
.social_icons .soundcloud a:hover {
	color: #fff;
	background-color: #ff6900;
	border-color: #ff6900;
}
.social_icons .stumbleupon a:hover {
	color: #fff;
	background-color: #eb4823;
	border-color: #eb4823;
}
.social_icons .twitter a:hover {
	color: #fff;
	background-color: #2baae1;
	border-color: #2baae1;
}
.social_icons .vimeo a:hover {
	color: #fff;
	background-color: #40b2dc;
	border-color: #40b2dc;
}
.social_icons .youtube a:hover {
	color: #fff;
	background-color: #ff3330;
	border-color: #ff3330;
}
.social_icons .tumblr a:hover {
	color: #fff;
	background-color: #35506b;
	border-color: #35506b;
}
.nav-close{
	position:absolute;
	left:30px;
	font-size:30px;
	top:0px;
	display:none;
}
.current {
	background-color: #eee !Important;
}
.single-img {
	text-align:center;
	margin-bottom: 20px;
}
.single-img img {
	max-width: 100%;
	height: auto;
}
.item-more li {
	width: 50%;
	float: left;
	padding: 3px;
}
.item-more img {
	max-width: 100%;
	height: auto;
	border: 1px solid #ccc;
}
.search-result li a {
	font-size: 17px;
	color: #ff0000;
}
